body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    background:#202124;
}

header {
    width: 100%;
    height: 60px;
}


header nav {
    display: flex;
    justify-content: flex-end;
}


a , #menu-icon {
    text-decoration: none;
    cursor: pointer;
}

header nav .nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav .nav-right-section a {
    margin-right: 10px;
    color: white;
}

nav .nav-right-section .menu-icon {
    background-image: url('./images/Group\ 1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 16px;
    height: 16px;
}

nav .nav-right-section img {
    border-radius: 50%;
    margin-left: 10px;
    width: 32px;
    height: 32px;
}

li {
    margin: 5px;
}

main {
    margin-top: 150px;
    text-align: center;
}

main .main-logo {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-logo img {
    width: 272px;
}

main  .main-input {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container {
    width: 530px;
    border-radius: 100px;
    border: 1px solid #5f6367;
    display: flex;
    justify-content: center;
    align-items: center;

}

main .main-input input {
    width: 450px;
    height: 35px;
    padding-left: 8px;
    border: none;
    outline: none;
    background-color: transparent;
}

main .main-input div .main-input-box{
    color: white;
    font-size: 16px;
}





main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #171717;
    background-color: #303134;
    border: 1px solid rgba(223,225,229,0);
}

main .main-input .search-icon {
    background-image: url('https://img.icons8.com/android/24/9aa0a6/search.png');
    background-repeat: none;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}


main .main-input .micro-icon {
    background-image: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
    background-repeat: none;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}


main .main-buttons {
    width: 500px;
    margin: 0 auto;
}

main .main-buttons div {
    display: inline-block ;
}

main .main-buttons button {
    height: 36px;
    background-color: #303134;
    border: 1px solid #303134;
    color: #e8eaed;
    font-family: arial,sans-serif;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    padding: 0 16px;
    margin: 11px 4px;

}


main .footer-country {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    background-color: #171717;
    border-top: 1px solid #3c4043;
}

footer {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    font-size: 13px;
    background-color: #171717;
    overflow: hidden;
}

footer .footer-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-top: 1px solid #3c4043;
}


footer .footer-country {
    height: 30px;
    display: flex;
    align-items: center;
    margin: 10px;
}

footer .footer-country a {
    color: #9aa0a6;
    font-size: 15px;
    padding-left: 9px;
}


footer .footer-main ul {
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

footer .footer-main .footer-right {
    justify-self: right;
}
footer .footer-main .footer-left {
    justify-self: left;
}


footer .footer-main ul li a {
    padding: 5px;
    color: #96989c;
}